In [13]:
import pandas as pd

In [14]:
excel_file = 'Copy of 2020.01.14 - Take Home Datasets.xlsx'

In [15]:
stdib1 = pd.read_excel(excel_file, 1)
stdib2 = pd.read_excel(excel_file, 2)
stdib3 = pd.read_excel(excel_file, 3)
seller_address_0 = pd.read_excel(excel_file, 4)
seller_address_1 = pd.read_excel(excel_file, 5)
salesforce_account = pd.read_excel(excel_file, 6)
salesforce_contact = pd.read_excel(excel_file, 7)
stdib_final = pd.concat([stdib2, stdib1, stdib3])

In [16]:
stdib_final.columns

Index(['id', 'seller_pk', 'seller_status', 'seller_status_code',
       'seller_rating', 'seller_date_registered', 'seller_date_contract_start',
       'seller_distinguished'],
      dtype='object')

In [21]:
stdib_final = stdib_final.merge(salesforce_account, on="seller_pk", how="left", copy=False)

In [22]:
stdib_final = stdib_final.merge(salesforce_contact, on="seller_pk", how="left", copy=False)

In [23]:
stdib_final

,id_x,seller_pk,seller_status,seller_status_code,seller_rating,seller_date_registered,seller_date_contract_start,seller_distinguished,id_y,account_id,id,contact_id
0,1,j_1,internal,internal.qa,NaN,1.218992e+09,1.218989e+09,NaN,NaN,NaN,NaN,NaN
1,2,j_2,active,active.active,A,1.221080e+09,1.221062e+09,DISTINGUISHED,72403.0,001E000000DwvtBIAR,72413.0,003E000000AFHglIAH
2,3,j_3,closed,closed.voluntary,A,1.221081e+09,1.221062e+09,NaN,83183.0,001E000000DwvtCIAR,83193.0,003E000000AFHgmIAH
3,4,j_4,active,active.active,A,1.221081e+09,1.221062e+09,DISTINGUISHED,72423.0,001E000000DwvtDIAR,72433.0,003E000000AFHgnIAH
4,5,j_5,closed,closed.involuntary,A,1.221081e+09,1.221062e+09,NaN,72443.0,001E000000DwvtEIAR,72453.0,003E000000AFHgoIAH
...,...,...,...,...,...,...,...,...,...,...,...,...
11884,14632,a_14632,pending,pending.new,NaN,1.609963e+09,1.609909e+09,NaN,128256962.0,0010h00001ibmIUAAY,128256952.0,0030h00002glXbZAAU
11885,14642,a_14642,pending,pending.new,C_PLUS,1.610638e+09,1.610428e+09,NaN,128939962.0,0010h00001ial0UAAQ,128939952.0,0030h00002gkwmiAAA
11886,14652,a_14652,pending,pending.new,C,1.610638e+09,1.610428e+09,NaN,128940452.0,0010h00001iboxUAAQ,128940442.0,0030h00002glac6AAA
11887,14662,a_14662,pending,pending.unpaid,C,1.610645e+09,1.609996e+09,NaN,128947632.0,0010h00001icMooAAE,128947622.0,0030h00002gm7uhAAA
11888,14672,a_14672,pending,pending.unpaid,C,1.610646e+09,1.610600e+09,NaN,128948342.0,0010h00001ibkzbAAA,128948332.0,0030h00002glVTMAA2

In [26]:
seller_address = seller_address_0.merge(seller_address_1, left_on='address_id', right_on='id', how= 'inner')

KeyError: 'seller_id'

In [25]:
seller_address

,id,seller_pk,address_id,address_status,address_type,state,country
0,39554703,a_0,56831853,ACTIVE,SELLER_SHIPPING,NaN,NaN
1,39554723,a_0,56831853,ACTIVE,SELLER_DEFAULT,NaN,NaN
2,39349933,a_1,56704683,ACTIVE,SELLER_SHIPPING,NaN,NaN
3,39349993,a_1,56704683,ACTIVE,SELLER_DEFAULT,NaN,NaN
4,39350743,a_10,56704953,ACTIVE,SELLER_SHIPPING,NaN,NaN
...,...,...,...,...,...,...,...
38421,89651563,v_9923,59869463,ACTIVE,SELLER_PAY,NaN,NaN
38422,89651693,v_9923,59869483,ACTIVE,SELLER_BILLING,NaN,NaN
38423,89766793,v_9973,59932453,ACTIVE,SELLER_SHIPPING,NaN,NaN
38424,89766813,v_9973,59932453,ACTIVE,SELLER_DEFAULT,NaN,NaN
38425,89766823,v_9973,59932463,ACTIVE,SELLER_PAY,NaN,NaN